body{
    background-image: url(/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-position: inherit;
    background-attachment: fixed;
}

.container{
    display: grid;
    justify-content: center;
    margin-top: 10%;
}


.searchbar-container .searchbar{
    border-radius:10px;
    padding: 2px;
    background-color: transparent;
    border: 2px white solid;
    width: 20rem;
    box-shadow: 5px 5px 10px 03px rgba(46, 45, 45, 0.202);
    text-decoration: solid;
    caret-color: #020202;
    pointer-events: auto;
    font-weight:bold;
}

.searchbar-container .searchbar:focus{
    outline: none;
    color: #020000;
    text-decoration: solid;
    
}

.search-btn{
    margin-left: -25px;
    color: white;
    cursor: pointer;
    
}




  .searchbar-container .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }

  
  .searchbar-container.active .autocom-box{
    
    opacity: 1;
    pointer-events: auto;
    background-color: rgba(237, 228, 228, 0.528);
    

  }
  ::-webkit-scrollbar.searchbar-container.active .autocom-box{
    display: none;
  }
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    font-size: smaller;
  }
  .searchbar-container.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background:#f6f6f6c5;
  }
  header{
    display: grid;
    justify-content: center;
    align-items: center;
  }

  h1{
    display: grid;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: none;
    color: white;
  }

  .navbar{
    border-radius:10px;
    background-color: rgba(46, 45, 45, 0.202);
    display: flex;
    
  }
  .navbar button{
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 15px;
  }
  .navbar button:hover{
    
  }
  
 

  .navbar a{
    color: #f6f6f6;
    margin: 5px;
    padding-bottom: 0;
    text-decoration: none;
  }

